/* BookCarousal.css */

.carousalContainer {
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 10px;
  margin-top: 20px;
}

.carousalTitle {
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  cursor: pointer;
  transition: transform 0.3s ease;
  width: 260px;
}

.cardContainer:hover {
  transform: scale(1.05);
}

.cardImage {
  height: 150px;
  object-fit: contain;
  border-radius: 10px 10px 0 0;
  margin-top: 10px;
}

.cardContent {
  flex-grow: 1;
  padding: 2px;
}

.cardTitle {
  font-size: 1rem;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 10px;
}

.cardAuthor {
  font-size: 0.875rem;
  color: #616161;
}

.cardPrice {
  margin-left: auto;
  margin-top: 10px;
  font-size: 0.875rem;
  color: #616161;
}
